	html{
        overflow-x: hidden;        
    }

    body{
		margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
	}

	.navdiv{
		display: flex;
		width: 100%;
		height: 100px;
        margin: 0;
        max-width: 1020px;
	 }

     .header{
       position: relative;
        display: flex;
        width: 100%;
        top:0;
        background-color: rgb(181, 201, 209); 
     }

	.navdiv ul{
		display:flex;
		flex-direction: row;
		justify-content: space-between;
        align-items: start;
		top: 0;
		z-index: 3;
	}
	
	 .navdiv li{
        list-style: none;
		font-family: "museo-sans-rounded", sans-serif;
		margin: 20px;
		align-items: right;
		z-index: 2;
	}
	.navdiv a{
		text-decoration: none;
		color: black;
		font-size: 20px;
		font-weight: bold;
	}
	.navdiv a:hover{
		color: white;
	}

     .intro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
        background-size: cover;
        padding: 20px;
        overflow-x: hidden;    
    }

    @media (max-width:750px){
        .intro{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: antiquewhite;
        }
    }

.container1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

   /*@media (max-width:980px){
        .container1{
            max-width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }*/

.container1 .imgcontainer1{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 30px;
}
.container1 .imgcontainer1 .image{
    height: 400px;
    width: 300px;
    border: 30px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow:visible;
    cursor: pointer;
}
.container1 .imgcontainer1 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container1 .imgcontainer1 .image:hover img{
    transform: scale(1.1);
}

    .contacttext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        max-width: 510px;
        overflow-x: hidden;    
    }

    #title{
        font-weight: bold;
        font-family: "museo-sans-rounded", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: black;
        font-size: 30px;
        display: flex;
        align-items: center;
        height: auto;
        border: 10px;
        padding: 10px;
        margin-bottom: 0px;
    }
    #subtext{
        display: flex;
        align-items:center;
        float: right;
        color: black;
        font-size: 20px;
        font-family: "museo-sans-rounded", sans-serif;
        font-weight: 700;
        font-style: normal;
        border: 10px;
        padding: 10px;
        margin-top: 0px;
    }

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    overflow-x: hidden;    
}

@media (max-width:750px){
     .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        }
    }

@media (max-width:450px){
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        }
    }
      .container .imgcontainer{
        justify-content: center;
        align-items: center;
    }
    .container .imgcontainer .image{
        height: 700px;
        width: 550px;
        border: 30px solid #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
        overflow:visible;
        cursor: pointer;
    }
    .container .imgcontainer .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .2s linear;
    }
    .container .imgcontainer .image:hover img{
        transform: scale(1.1);
    }

    /*@media (max-width:450px){
        .container .imgcontainer{
        border: 30px;
        padding: 30px;
        height: 500px;
        width: 350px;
        margin-bottom: 20px;
        }
    }*/

@media (max-width: 430px) {
        .contact{
            width: 100%;
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
     }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
    } 

    #connect{
        color: black;
        font-size: 60px;
        font-family: "museo-sans-rounded", sans-serif;
        font-weight: 700;
        font-variant: small-caps;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #contact{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .2s ease-in-out;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
        transition: .2s ease-in-out;

    }

    #contact:hover{
        transform: scale(1.1);
    }

    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
		justify-content: center;
		text-align: center;
        margin-top: 0px;
        font-size: 30px;
        font-family: "museo-sans-rounded", sans-serif;
        font-weight: 700;
        font-style: italic;
        border-radius: 30px;
        background-color: rgb(181, 201, 209);
        padding: 10px;
    }


    .content{
    text-decoration: none;
    color: black;
	font-family: "museo-sans-rounded", sans-serif;
	font-weight: 500;
    font-weight: bold;
    font-size: 20px;
	 background-color: rgb(181, 201, 209);
	position: relative;
    display: flex;
	align-items: end;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    min-height: 100px;
    bottom: 0;
    }

		.content a{
		font-family: "museo-sans-rounded", sans-serif;
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		color: black;
		font-size: 20px;
		font-weight: bold;
		margin-right: 50px;
        justify-content: space-between;
		}

		.content a:hover{
		color:white;
		}

		.content li{
        display: flex;
		align-items: center;
        justify-content: space-between;
		}
